body{margin:0px;font-family: sans-serif;}
#page-heading{
    color:grey;
    text-align: center;
    margin-top: 25px;
}
#contacts-list-container ul{
    padding:0;
    list-style:none;
}
.contact{
    padding: 3px 10px;
    border: 1px solid white;
    background-color:#181e33;
    box-shadow:1px 1px 1px 1px lightgrey;
    color:white;
    width:30%;
    margin-left: 440px;
}
.contact.details{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    width:90%;
}
.contact.delete-button{
    width:10%;
    padding:3px;
    text-align:center;
    margin-top:5px;
}
